:root {
    /* Color Scheme */
    --space-black: #0b0c10;
    --nebula-blue: #1f2833;
    --star-yellow: #ffcc00;
    --planet-white: #ffffff;

    /* Typography */
    --font-heading: 'Orbitron', sans-serif;
    --font-body: 'Open Sans', sans-serif;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.apod-card {
    background-color: var(--space-black);
    color: var(--planet-white);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.apod-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}